<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link REL="stylesheet" TYPE="text/css" href="css/style.css">
        <script type="text/javascript" src="scripts/jquery.js">
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".opinion h1").click(function(){
                    $(this).next().slideToggle("fast");
                    $(this).toggleClass("collapsed");
                    return false;
                });
            });
        </script>
        <title>MyJava - my experience</title>
    </head>
    <body>
        <div class="content">
            <div class="topContent">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Articles</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mainContent">
                   	<div class="articleListTitle">#springMessage("availableArticles")</div>
                	#foreach ($article in $articles) 
                   		<ul class="articleList">
                       		<li>
                           		<a href="article.htm?id=${article.id}" target="_blank">${article.title}</a>
                       		</li>
                   		</ul>
                	#end
            </div>
            <div class="bottomContent">
                Created by Bogoliy Sasha
            </div>
        </div>
    </body>
</html>
