<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link REL="stylesheet" TYPE="text/css" href="css/style.css">
        <link type="text/css" media="screen" rel="stylesheet" href="css/colorbox.css" />
        <script type="text/javascript" src="scripts/jquery.js">
        </script>
        <script src="scripts/jquery.colorbox.js">
        </script>
        <script type="text/javascript" src="scripts/jquery.form.js">
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".opinion h1").click(function(){
                    $(this).next().slideToggle("fast");
                    $(this).toggleClass("collapsed");
                    return false;
                });
            });
            $(document).ready(function(){
                $(".searchPanel table img").mouseover(function(){
                    $(this).parent().removeClass();
                    $(this).parent().addClass("bordered");
                    return false;
                });
                $(".searchPanel table img").mouseout(function(){
                    $(this).parent().removeClass();
                    $(this).parent().addClass("notBordered");
                    return false;
                });
            });
            
            
            $(document).ready(function(){
                $(".login").colorbox({
                    width: "240px",
                    inline: true,
                    href: "#login_panel"
                });
            });
            
            
            $(document).ready(function(){
                // готовим объект<br>
                var options = {
                    target: "#loginDiv",
                    url: "j_spring_security_check",
                    success: function(){
                        alert("Спасибо за комментарий!");
                    }
                };
                
                // передаем опции в  ajaxSubmit
                $("#loginForm").ajaxSubmit(options);
                
            });
            
            $(document).ready(function(){
                $("#sendLogin").click(function(){
                    //$(".login").colorbox.close();			 
                    $("#loginForm").submit();
                });
            });
        </script>
        <title>MyJava - my experience</title>
    </head>
    <body>
        <!-- This contains the hidden content for inline calls -->
        <div style='display:none'>
            <div id='login_panel' class="login_panel">
                <form action="j_spring_security_check" style="padding: 10px 20px" id="loginForm">
                    <span class="label">Name:</span>
                    <br/>
                    <input ame="j_username" id="j_username" class="input" type= "text" />
                    <br/>
                    <span class="label">Password:</span>
                    <br/>
                    <input name="j_password" id="j_password" type= "password" class="input" />
                    <br>
                    <input type='checkbox' name='_spring_security_remember_me' />Remember me
                    <br>
                    <br>
                    <div id = "loginDiv">
                        <a id="sendLogin"> #springMessage("login.enterSystem")</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="topContent">
                <div class="rightPanel">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">Articles</a>
                            </li>
                            <li>
                                <a class="login" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                    <div class="searchPanel">
                        <form method="get" action="articleList.x">
                            <table>
                                <tr>
                                    <td>
                                        <input class="input" type=="text" name="serachString" id="searchString"/>
                                    </td>
                                    <td>
                                        <img src="images/view.gif">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mainContent">
                <div class="article">
                    <h1>${article.title}</h1>
                    <p>
                        ${article.text}
                    </p>
                </div>
                <div class="opinions">
                    <div class="opinion">
                        <h1>Bogoliy Sasha wrote: </h1>
                        <div id="opinionText">
                            <p>
                                This is good article
                            </p>
                        </div>
                    </div>
                    <div class="opinion">
                        <h1>Kuzmenko Denis wrote: </h1>
                        <div id="opinionText">
                            <p>
                                Not bad
                            </p>
                        </div>
                    </div>
                </div>
                <div class="opinionForm">
                    <form method="post">
                        <span class="label">#springMessage("addOpinion.name")</span>
                        <br/>
                        <input name="name" id="name" class="input" type= "text" />
                        <br/>
                        <span class="label">#springMessage("addOpinion.email")</span>
                        <br/>
                        <input name="email" id="email" class="input" type= "text" />
                        <br/>
                        <span class="label">#springMessage("addOpinion.opinion")</span>
                        <br/>
                        <textarea name="opinion" id="opinion" class="input" cols="60" rows="5">
                        </textarea>
                        <br/>
                        <input class="submit" type="submit" value="#springMessage("addOpinion.submit")"/>
                    </form>
                    <br>
                </div>
            </div>
            <div class="bottomContent">
                Created by Bogoliy Sasha
            </div>
        </div>
    </body>
</html>
