/*
 Обнулить отсутпы страницы и содержимого
 */
body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

/*
 главное содердиммое - отсупы справа и слева
 */
.content {
    width: 900px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(150, 150, 150);
    font-size: 1.0em;
    background-color: white;
}

.topContent {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left top;
    height: 80px;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    margin-top: 10px;
}

/*
 Menu
 */
.menu {
    float: right;
    padding-right: 5px;
    position: relative;
    top: -10px;
}

.menu ul {
    list-style: none;
    padding: 0px 20px;
}

.menu ul li {
    list-style: none;
    margin-left: 5px;
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 70%;
    color: black;
}

.menu ul li a:hover {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 70%;
    color: #9c9d9d;
}

.mainContent {
    margin-top: 20px;
}

.bottomContent {
    height: 20px;
    border-top: solid;
    border-top-color: black;
    border-top-width: 2px;
    padding-top: 3px;
    font-family: Verdana, serif;
    text-align: center;
    font-size: x-small;
    color: grey;
}

.article {
    margin: 0 20px 0 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #4F4939;
    padding-bottom: 20px;
}

.article h1 {
    font-weight: normal;
    font-size: 36px;
    margin: 0 25px 0 25px;
    letter-spacing: -1px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.opinions {
    margin: 0 20px 0 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #4F4939;
    padding-bottom: 5px;
}

.opinions div:nth-child(odd) {
	background-color: #f3f3f3;
}

.opinions div:nth-child(even) {
	background-color: #f4f4f4;
}

.opinion {
    padding-left: 5px;	
	border-left-color: #f0f0f0;
	border-left-width: 2px;
	border-left: solid;
}

.opinion h1{
  	font-weight: normal;
    font-size: 12px;
    font-family: "Arial", serif;
	font-style: oblique;
	cursor: pointer;
}

.collapsed {
	color: #8d8f91;
}


