#searchContentPanel {
margin-left : 15px ;
}
.roundcont {
	width: 250px;
	background-color: #f90;
	color: #fff;
}

.roundcont p {
	margin: 0 10px;
}

.roundtop { 
	background: url(tr.gif) no-repeat top right; 
}

.roundbottom {
	background: url(br.gif) no-repeat top right; 
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}

#topContent {
   border: none;
   display: block !important;
}

.proposalsDiv {
position : absolute ;
}

#proposalsTable {
background-color : #FFFFF0 ;
border : 1px ;
border-color : blue ;
width : 200px ;
}

#proposalsTable td:hover {
background-color : #FAF0E6 ;
}

