<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jms="http://cxf.apache.org/transports/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://cxf.apache.org/jaxws
                  http://cxf.apache.org/schemas/jaxws.xsd ">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jms.xml"/>

    <bean id="articleServiceImpl" class="ua.com.myjava.service.ArticleServiceImpl">
        <property name="articleDAO" ref="articleDAO"/>
        <property name="articleHelper" ref="articleHelper"/>
    </bean>


    <jaxws:endpoint id="articleService" implementor="#articleServiceImpl" address="jms://">
        <jaxws:features>
            <bean class="org.apache.cxf.transport.jms.JMSConfigFeature"
                  p:jmsConfig-ref="jmsConfig"/>
        </jaxws:features>
    </jaxws:endpoint>

    <jaxws:client id="articleClient" serviceClass="ua.com.myjava.service.ArticleService" address="jms://">
        <jaxws:features>
            <bean class="org.apache.cxf.transport.jms.JMSConfigFeature"
                  p:jmsConfig-ref="jmsConfig"/>
        </jaxws:features>
    </jaxws:client>

    <bean id="jmsConfig" class="org.apache.cxf.transport.jms.JMSConfiguration"
          p:connectionFactory-ref="jmsConnectionFactory"
          p:targetDestination="ua.com.myjava.service.requestqueue" p:messageType="binary"
          p:replyDestination="ua.com.myjava.service.replyQueue"/>

    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:60001"/>
    </bean>
</beans>
    